<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Результаты по всем поликлиникам</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Результаты по всем поликлиникам</h1>
    <table>
        <thead>
            <tr>
                <th>Поликлиника</th>
                <th>Должность</th>
                <th>Необходимое количество врачей</th>
                <th>Текущее количество штатных единиц</th>
                <th>Дефицит/Профицит</th>
                <th>Текущая нагрузка</th>
            </tr>
        </thead>
        <tbody>
            {% for row in results %}
            <tr>
                <td>{{ row['Поликлиника'] }}</td>
                <td>{{ row['Должность'] }}</td>
                <td>{{ row['Необходимое количество врачей'] }}</td>
                <td>{{ row['Текущее количество штатных единиц'] }}</td>
                <td>{{ row['Дефицит/Профицит'] }}</td>
                <td>{{ row['Текущая нагрузка'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="/recommendations" method="post">
        <input type="hidden" name="results" value='{{ results|tojson }}'>
        <button type="submit">Получить рекомендации</button>
    </form>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
</body>
</html>
