<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выбор действия</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>Выбор действия</h1>
            <a href="/all_clinics" class="button">Данные по всем</a>
            <a href="/chief_doctor" class="button">Данные по конкретной</a>
            <a href="/new_house" class="button">Внести новые данные</a>
        </div>
    </div>
</body>
</html>
