<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рекомендации</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>Рекомендации</h1>
            <h2>Кого нанять</h2>
            <form action="/process_recommendations" method="post">
                <label for="hire">Выберите должности для найма:</label>
                <select name="hire" id="hire" multiple>
                    {% for role, amount in hire_recommendations %}
                        <option value="{{ role }}">{{ role }} - {{ amount }} единиц</option>
                    {% endfor %}
                </select>

                <h2>Кого уволить</h2>
                <label for="fire">Выберите должности для увольнения:</label>
                <select name="fire" id="fire" multiple>
                    {% for role, amount in fire_recommendations %}
                        <option value="{{ role }}">{{ role }} - {{ amount }} единиц</option>
                    {% endfor %}
                </select>
            </form>
            <a href="{{ url_for('index') }}" class="button">Вернуться на главную</a>
        </div>
    </div>
</body>
</html>
